@media screen and (min-width: 769px){

  .image {
        float: left;
        width: 45%;
        height: 100vh;
        background-image: url("../img/superstarLarge.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        position: fixed;
        z-index: -100;
  }


}

@media screen and (max-width:769px) {
  .image{
    width:100%;
    height: 100vw;
    background-image: url("../img/superstar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: -100


}
